body{
    background-color: beige;
    text-align: justify;
    
}
header{
    text-align: left;
    background-color: antiquewhite;
    background-size: 30%;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

}